body {
    background-color: #d9dcd6;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

/* this is the styles applied to the header section */
/* the header class is relates to the blue header on the page
it would be ideal to adjust it to allow for resizing on smaller devices like mobiles
but i cant figure out how to do that  */

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header a {
    vertical-align:middle;
    font-size: 1rem;
}

.header h1 {
    font-size: 3rem;
    flex-grow: 3;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header li {
    list-style-type: none;
}
 
.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: [header] auto auto auto auto auto auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    /* font-size: 16px; */
    font-size: 1rem;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    alt: "";
}

.benefits article {
    color: #ffffff;
}

.benefits img {
    max-width: 150px;
}

/* this is the styles applied to the content section */

.benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.content article {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
    max-width: 400px;

}

article {
    max-height: 200px;
}

/* this is the styles applied to the footer section */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 2rem;
}
